language: python
python:
    - 3.5
install:
    - pip install -r requirements.txt -r requirements-dev.txt
script:
    - flake8 --config=.flake8 bookinglog/ tests/
    - pytest --cache-clear --verbose tests/
